.offscreen {
  position: absolute;
  left: -9999px;
}
.nav-bar {
  z-index: 900;
  position: fixed;
  top: 0;
  width: 100%;
}
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
.formContainer {
  width: 320px;
  margin-left: 30px;
  padding: 10px;
}
form {
  padding: 50px;
  width: 100%;
}
input,
button,
.errmsg {
  margin-top: 10px;
  width: 50%;
}

.card-deck {
  width: 70%;
  padding: 20px;
}
.pagination {
}

/*
  width:120px;
  margin-left: 20px;
  padding:30px;
}

.card-text{
  margin-top: 40%;
  margin-left:35%;
  font-size:xx-large;
}
*/
.card-body {
  background-color: lightgray;
}

.imgcs {
  height: 100px;
  width: 100px;
}

.cardsimg {
  height: 180px;
}

.btncls {
  width: 50px;
  margin: 0 6px;
}

.card {
  box-shadow: 1px 1px 3px 0px rgb(112, 115, 139);
}
table {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead {
  background-color: blueviolet;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  width: 0;
  height: 100%;

  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #000;
  height: 100%;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.wrapper {
  left: 250px;
  margin-left: 250px;
}
.App {
  margin-top: 55px;
}

.book-card-button {
  position: relative;
  z-index: 3;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.carosel-img {
  height: 400px;
}
.form-wrapper {
}
.input-container {
}
.formerrmsg {
  font-size: smaller;
  margin-left: 4px;
}
.cmtbox {
  height: 100px;
}

.intl-tel-input {
  width: 100%;
}
